# Seleção de preditores e modelos de regularização
### SME0819 Aprendizado de Máquina


por **Cibele Russo**


**ICMC/USP - São Carlos SP**

## Stepwise

In [81]:
#!pip install mlxtend

In [109]:
# Carrega as bibliotecas
from numpy import mean
from numpy import std
from numpy import absolute
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn import linear_model
from mlxtend.feature_selection import SequentialFeatureSelector # Para Stepwise
from sklearn.linear_model import LinearRegression

In [119]:
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn import linear_model

# Leitura dos dados
url = 'https://raw.githubusercontent.com/cibelerusso/Aprendizado_de_Maquina/main/Dados/kc_house_data.csv'
df = pd.read_csv(url)

X = df[['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','condition','grade']].values
y = df['price'].values

clf = LinearRegression()

# Build step forward feature selection
sfs1 = sfs(clf,k_features = 3,forward=True,floating=False, scoring='r2',cv=5)

# Perform SFFS
sfs1 = sfs1.fit(X, y)

sfs1.k_feature_names_

('2', '6', '8')

In [153]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530.0,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310.0,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020.0,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600.0,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020.0,0,2008,0,98144,47.5941,-122.299,1020,1357

In [161]:
from statsmodels.formula.api import ols

url = 'https://raw.githubusercontent.com/cibelerusso/Aprendizado_de_Maquina/main/Dados/kc_house_data.csv'
df = pd.read_csv(url)


X = df[['sqft_living','view','grade']]
y = df['price'].values

#Ajusta o modelo de regressão linear simples para o preço das casas
#mod = ols('price~sqft_living+view+grade',data=df)


modelo = ols('price ~ sqft_living +  view + grade',data=df)
res = modelo.fit()

print(res.summary())

predicao = res.predict(X)


print('Modelo linear simples')
print('MSE = ',  np.round(mean_squared_error(predicao, y),2))
print('MAE = ', np.round(mean_absolute_error(predicao, y), 2))

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.573
Model:                            OLS   Adj. R-squared:                  0.572
Method:                 Least Squares   F-statistic:                     9648.
Date:                Thu, 30 Mar 2023   Prob (F-statistic):               0.00
Time:                        16:42:54   Log-Likelihood:            -2.9842e+05
No. Observations:               21613   AIC:                         5.968e+05
Df Residuals:                   21609   BIC:                         5.969e+05
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept   -5.435e+05   1.28e+04    -42.444      0.000   -5.69e+05   -5.18e+05
sqft_living   166.3254      2.780     59.835      0.000     160.877     171.774
view         9.762e+04   2226.102     43.850      0.000    9.33e+04    1.02e+05
grade        9.334e+04   2151.140     43.393      0.000    8.91e+04    9.76e+04
==============================================================================
Omnibus:                    16568.787   Durbin-Watson:                   1.977
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1063698.128
Skew:                           3.148   Prob(JB):                         0.00
Kurtosis:                      36.786   Cond. No.                     1.81e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.81e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
Modelo linear simples
MSE =  57611462589.4
MAE =  157710.88

## Ridge regression

Fonte: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html

In [120]:
from sklearn.linear_model import Ridge
import numpy as np
n_samples, n_features = 10, 5
rng = np.random.RandomState(0)

# Leitura dos dados
url = 'https://raw.githubusercontent.com/cibelerusso/Aprendizado_de_Maquina/main/Dados/kc_house_data.csv'
df = read_csv(url)

X = df[['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','condition','grade']].values
y = df['price'].values


clf = Ridge(alpha=1.0)
clf.fit(X, y)

res = clf.fit(X,y)
res.score(X, y)

0.6047912991807038

In [137]:
res.coef_

array([-3.36908390e+04, -1.14150881e+04,  1.96393035e+02, -3.46307950e-01,
       -1.30967061e+04,  5.74090118e+05,  6.34557234e+04,  5.49828738e+04,
        1.00558114e+05])

In [140]:
predicao = clf.predict(X)

In [141]:
print('Regressão Ridge')
print('MSE = ', np.round(mean_squared_error(predicao, y),2))
print('MAE = ', np.round(mean_absolute_error(predicao, y), 2))

Regressão Ridge
MSE =  53264704070.41
MAE =  152209.44

## LASSO

In [142]:
# Adaptado de: https://machinelearningmastery.com/lasso-regression-with-python/

# Carrega as bibliotecas
from numpy import mean
from numpy import std
from numpy import absolute
from pandas import read_csv
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Leitura dos dados
url = 'https://raw.githubusercontent.com/cibelerusso/Aprendizado_de_Maquina/main/Dados/kc_house_data.csv'

df = read_csv(url)

X = df[['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','condition','grade']].values
y = df['price'].values

# Definição do modelo
model = Lasso(alpha=10.0)

# Define o método de avalaição do modelo
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)

# Avalia o modelo
scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)

# force scores to be positive
scores = absolute(scores)
print('Mean MAE: %.3f (%.3f)' % (mean(scores), std(scores)))

Mean MAE: 152347.635 (3200.281)

In [146]:
# Carrega as bibliotecas
import pandas as pd
from numpy import arange
from sklearn.linear_model import LassoCV
from sklearn.model_selection import RepeatedKFold

# Leitura dos dados
url = 'https://raw.githubusercontent.com/cibelerusso/Aprendizado_de_Maquina/main/Dados/kc_house_data.csv'
df = pd.read_csv(url)

X = df[['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','condition','grade']].values
y = df['price'].values

# Define o método de avalaição do modelo
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)

# Define o modelo
model = LassoCV(alphas=arange(0.1, 10, 0.1), cv=cv, n_jobs=-1)

# Ajusta o modelo
model.fit(X, y)

# summarize chosen configuration
print('alpha: %f' % model.alpha_)

alpha: 5.900000

In [147]:
# Leitura dos dados
url = 'https://raw.githubusercontent.com/cibelerusso/Aprendizado_de_Maquina/main/Dados/kc_house_data.csv'
df = read_csv(url)

X = df[['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','condition','grade']].values
y = df['price'].values

# Define o modelo
model = Lasso(alpha=5.9)

# Define o método de avalaição do modelo
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)

# Avalia o modelo
scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)

# force scores to be positive
scores = absolute(scores)
print('Mean MAE: %.3f (%.3f)' % (mean(scores), std(scores)))

Mean MAE: 152347.807 (3200.182)